.first{
	background: rgb(255, 255, 255);
	margin: 50px 1264px 0px 50px;
	padding: 25px 25px 25px 25px;
	border-style: dashed;
}
p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 40px;
}
sup{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
	color: red;
}
sub{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
	color: blue;
}