.first{
	background: rgb(214, 215, 190);
	margin: 50px 1000px 0px 50px;
	padding: 50px 50px 50px 50px;
}
h1{
	font-family: 'Times New Roman', Times, serif;
	font-size: 60px;
	color: rgb(83, 38, 1);
}
h2{
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	color: rgb(1, 1, 1);
}
h3{
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	color: rgb(135, 83, 32);
}
a{
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	color: rgb(40, 85, 1);
}
p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	color: rgb(1, 1, 1);
}